#ebooks{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //margin-bottom: 50px;
    @media screen and (max-width:768px) {
        height: auto;
    }
    .books-page-hero{
        margin-bottom: 20px ;
    }
    .container-ebooks{
        margin: auto;
        margin-top: -20px;
    width: 80%;
    margin-bottom: 20px;
    @media screen and (max-width:425px) {
        width:90%;
    }
    .card-price{
        font-family: $inter;
        font-weight: 500;
        font-size: 0.8rem;
        color: $goldenPink;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20%;
        height: 20%;
        border-radius: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 600px) {
          width: 22% ;
          height: 22%;
          font-size: 0.7rem;
        }
       
        @media (max-width: 440px) {
          width: 29% ;
          height: 29%;
          font-size: 0.6rem;
          
        }
      }
    }
}