#about{
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 50px;
    //background-color: red;
    height: 690px;
    padding-bottom: 50px;
    background-color:$beige ;

    .container-info-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        width: 50%;
        h1{
            font-size: 3rem;
            color: $grey;
            margin-bottom: 20px;
        }
        .info-about{
            font-size: 1.2rem;
            margin: 1rem 0;
            color: #737373;
            letter-spacing: -1.2px;
            line-height: 1.5;
            width: 90% !important;
            text-align: justify;
            //background-color: red;
            p{
                width: 100%;
            }
        }
        .about-social {
          
            ul {
                display: flex;
                margin-top: 10px;
                li {
                    font-size: 1.4rem;
                    a {
                        color: $goldenPink;
                    }
                    a:hover{
                        color: darken($pink, 15);
                    }
                }
            }
            li:nth-child(2) {
                margin: 0px 30px 0px 30px;
            }
        }
        
    }
    .about-img{
       width: 30%;
       height: 300px;
       border-radius: 7px;

       img{
        border-radius: 7px;
        width: 100%;
        height: 100%;
        object-fit: contain;
       }
    }
}
@media screen and (min-width:2560px){
    #about{
        .container-info-about{
            h1{
                font-size: 3.5rem; 
            }
            .info-about{
                font-size: 2rem;
                
            }
            .about-social {
              
                ul {
                    display: flex;
                    margin-top: 10px;
                    li {
                        font-size: 3rem;
                        a {
                            color: $pink;
                        }
                        
                    }
                }
                li:nth-child(2) {
                    margin: 0px 20px 0px 20px;
                }
            }
            
        }
        .about-img{
           width: 30%;
           height: 500px;
           border-radius: 7px;
    
           img{
            border-radius: 7px;
            width: 100%;
            height: 100%;
            object-fit: contain;
           }
        }
    }
}
@media screen and (max-width:1025px){
    #about{
        height: auto;
        padding: 20px 0px 20px;
        padding-bottom: 10px;
        
    }
}
@media screen and (max-width:769px) {
    #about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
        //padding: 50px 0px 50px;
        height: auto;
        .container-info-about{
           // background: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            width: 80%;
            h1{
                font-size: 2rem;
                font-family: $poppins;
            }
            .info-about{
                font-size: 0.9rem;
                margin-top: 20px;
                width: 90%;
            }
           
            
        }
        .about-img{
            //height: 50%;
            width: 50%;
            height: 300px;
            margin-bottom: 20px; 
            //padding : 20px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

@media screen and (max-width:561px) {
    #about{
       
        flex-direction: column;
        .container-info-about{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            width: 90%;
            h1{
                font-size: 2rem;
            }
            .info-about{
                font-size: 0.9rem;
                margin: 1rem 0;
            }
            button{   
                width:33%;
                padding: 0.7rem 1rem 0.7rem 1rem;
                font-size: 0.9rem;
                margin-bottom: 30px;
            }
            
        }
        .about-img{
            width: 50%;
            height: 300px;
            padding : 0;
            margin-bottom: 10px;
            //background-color: red;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

@media screen and (max-width:376px) {
    #about{
       
        flex-direction: column;
        .container-info-about{
        
             h1{
                 font-size: 1.5rem;
             }
             .info-about{
                 font-size: 0.9rem;
                
             }
            
             
         }
        .about-img{
            width: 80%;
            height: 200px;
            padding : 0;
            margin-bottom: 10px;
            //background-color: red;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}