.Legals-components{
    font-family: $poppins;
    h1{
        text-align: center;
        color: $goldenPink;
        font-size: 2rem;
        letter-spacing: -2px;
        margin-top: 40px;
        @media screen and (max-width:425px) {
            font-size: 1.8rem;
            width: 85%;
            
            margin: auto;
            margin-top: 40px;
        }
        @media screen and (max-width:320px) {
            font-size: 1.6rem;
        }
    }


    h2{
        color: $goldenPink;
        letter-spacing: -2px;
        
        margin: 10px 0px 10px ;
        @media screen and (max-width:320px) {
            font-size: 1.2rem;
        }
    }
    p{
        text-align: justify;
        @media screen and (max-width:425px) {
            font-size: 0.9rem;
        }
        @media screen and (max-width:320px) {
            font-size: 0.8rem;
        }
    }

    ul{
        li{
            @media screen and (max-width:425px) {
                font-size: 0.9rem;
            }
            @media screen and (max-width:320px) {
                font-size: 0.8rem;
            }
        }
    }

    article{
        background-color: $whiteSecondary;
        width: 70%;
        padding: 30px;
        margin: 40px auto 20px auto;
        border-radius: 7px;
        line-height: 1.5;
        @media screen and (max-width:1024px) {
            width: 90%;
        }
    }
}