#book {
  background: $beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px;

  .container-info-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $black;
    width: 50%;
    h1 {
      color: $grey;
      font-size: 3rem;
      font-family: $poppins;
      letter-spacing: -2px;
    }
    p {
      font-size: 1.2rem;
      margin: 1rem 0;
      width: 80%;
      font-family: $montserrat;
    }
    .book-btn-link{
        background: white;
      width: 30%;
      padding: 1rem;
      border: none;
      cursor: pointer;
      color: $goldenPink;
      font-size: 1.2rem;
      border-radius: 50px;
      font-weight: 700;
      &:hover {
        background: $goldenPink;
        color: white;
      }
    }
   
  }
  .book-img {
    padding: 20px;
  }
}


.see-more{
  margin-top: 10;
  position: relative;

  a{
    color: $grey;
    font-family: $poppins;
    font-weight: 500;
    &::after{
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: $grey;
      position: relative;
      top: 3px;
      border-radius: 10px;
    }
    &:hover{
      color: darken($grey, 10);
      &::after{
        background-color:  darken($grey, 10);;
      }
    }
  }
  
}


@media screen and (max-width:1025px){
  #book{
    .container-info-book {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50%;
      color: $black;
      h1 {
        font-size: 2rem;
        width: 80%;
      }
      p {
        font-size: 0.9rem;
        margin: 1rem 0;
        //background-color: red;
        width: 90%;
      }
      .book-btn-link{
        width: 50%; 
        margin: auto;
        padding: 0.9rem;
        font-size: 0.9rem;
    }
      
    }
  }
}

@media screen and (max-width: 769px) {
  #book {
   
    display: flex;
    justify-content: center;
    align-items: center;

    .container-info-book {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50%;
      color: $black;
      h1 {
        font-size: 1.7rem;
        width: 90%;
      }
      p {
        font-size: 0.9rem;
        margin: 1rem 0;
        //background-color: red;
        width: 90%;
      }
      .book-btn-link{
        width: 50%; 
        margin: auto;
        padding: 0.9rem;
        font-size: 0.9rem;
    }
      
    }
    .book-img {
      width: 300px;
      height: 300px;
      //padding : 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

/* @media screen and (max-width: 561px) {
  #book {
    flex-direction: column-reverse;
    .container-info-book {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $black;
      width: 90%;
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        margin: 1rem 0;
      }
     
    }
    .book-img {
      width: 300px;
      height: 300px;
      padding: 0;
      //background-color: red;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
} */

@media screen and (max-width: 576px) {
  #book {
    flex-direction: column-reverse;
    .container-info-book {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      //color: white;
      width: 90%;
      padding-bottom: 20px;
      h1 {
        font-size: 1.5rem;
        letter-spacing: 0;
      }
      p {
        font-size: 0.9rem;
        margin: 1rem 0;
        
      }
     
    }
    .book-img {
      width: 300px;
      height: 300px;
      padding: 0;
      //background-color: red;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
